<ion-header>
  <ion-navbar>
    <ion-title>
      GalaPro Test
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    This Is My first test.
  </p>
    <ion-list no-lines>
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData.value)">
      
      <ion-item>
        <ion-label>Redirect</ion-label>
        <ion-checkbox color="blue" checked="false" [(ngModel)]="chkIn" name="chkIn"></ion-checkbox>
      </ion-item>

      <ion-item>
          <ion-input type="text" [(ngModel)]="urlIn" name="urlIn" placeholder="Enter your URL here"></ion-input>
      </ion-item>

      <ion-label> {{message}}</ion-label>

      <button ion-button full color="blue" type="submit">Submit</button>

    </form>
    </ion-list>

</ion-content>
